<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huasheng.sysq"
    android:versionCode="2"
    android:versionName="1.1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />
    
     <uses-permission android:name="android.permission.CAMERA" />
     <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
     <uses-permission android:name="android.permission.RECORD_AUDIO" />
     <uses-permission android:name="android.permission.INTERNET" />
     <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
     <uses-permission android:name="android.permission.CAMERA"/>
     <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="抑郁症病例对照研究"
        android:theme="@style/AppTheme" 
        android:name="com.huasheng.sysq.util.SysqApplication">
        
        <!-- zxing -->
         <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="sensorLandscape"
            android:stateNotNeeded="true"
            android:theme="@style/CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <!-- login -->
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- index -->
        <activity android:name=".activity.IndexActivity" android:launchMode="singleTask" android:screenOrientation="landscape"></activity>
        
        <!-- reservation -->
         <activity android:name=".activity.reservation.ReservationAddActivity" android:screenOrientation="landscape" android:windowSoftInputMode="stateHidden"></activity>
         
         <activity android:name=".activity.reservation.ReservationListActivity" android:screenOrientation="landscape" android:windowSoftInputMode="stateHidden"></activity>
         
         <!-- interview -->
         <activity android:name=".activity.interview.IntervieweBasicActivity" android:screenOrientation="portrait"></activity>
         <activity android:name=".activity.interview.InterviewActivity" android:screenOrientation="landscape" android:configChanges="screenSize|keyboardHidden|orientation"></activity>
         
         <!-- 个人中心 -->
         <activity android:name="com.huasheng.sysq.activity.usercenter.UserCenterActivity" android:screenOrientation="landscape" android:windowSoftInputMode="stateHidden"></activity>
         <activity android:name="com.huasheng.sysq.activity.usercenter.UserCenterNavActivity" android:screenOrientation="landscape"></activity>
         <activity android:name="com.huasheng.sysq.activity.usercenter.Usercenter4BasicActivity" android:screenOrientation="portrait"></activity>
         <activity android:name="com.huasheng.sysq.activity.usercenter.Usercenter4AddUserActivity" android:screenOrientation="portrait"></activity>
         <activity android:name="com.huasheng.sysq.activity.usercenter.Usercenter4PasswordActivity" android:screenOrientation="portrait"></activity>
         
         <!-- 受访者一览 -->
         <activity android:name=".activity.interviewee.IntervieweeActivity" android:screenOrientation="landscape" android:windowSoftInputMode="stateHidden"></activity>
         <activity android:name=".activity.interviewee.questionaire.IntervieweeQuestionaireActivity" android:screenOrientation="landscape"></activity>
         <activity android:name=".activity.interviewee.questionaire.IntervieweeAnswerActivity" android:screenOrientation="landscape"></activity>
         <activity android:name=".activity.interviewee.person.IntervieweePersonNavActivity" android:screenOrientation="landscape"></activity>
         <activity android:name=".activity.interviewee.person.IntervieweePerson4BasicActivity" android:screenOrientation="portrait"></activity>
         <activity android:name=".activity.interviewee.person.IntervieweePerson4DNAActivity" android:screenOrientation="portrait"></activity>
         <activity android:name=".activity.interviewee.person.IntervieweePerson4PhotoActivity" android:screenOrientation="portrait"></activity>
         <activity android:name=".activity.interviewee.person.IntervieweePerson4PhotoPreviewActivity" android:screenOrientation="portrait"></activity>
         
         <!-- report -->
         <activity android:name=".activity.report.ReportActivity" android:screenOrientation="landscape"></activity>
         
         <!-- 设置 -->
         <activity android:name=".activity.settings.SettingsNavActivity"  android:screenOrientation="landscape"></activity>
         <activity android:name=".activity.settings.Settings4FTPActivity"  android:screenOrientation="portrait"></activity>
         <activity android:name=".activity.settings.Settings4DBActivity"  android:screenOrientation="portrait"></activity>
    
    </application>

</manifest>
