<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huasheng.sysq"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:name="com.huasheng.sysq.util.SysqApplication">
        
        <!-- login -->
        <activity
            android:name="com.huasheng.sysq.activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- index -->
        <activity 
            android:name=".activity.IndexActivity"
             android:screenOrientation="portrait">
        </activity>
        
        <!-- reservation -->
         <activity 
             android:name=".activity.reservation.ReservationAddActivity"
             android:screenOrientation="portrait">
         </activity>
         <activity 
             android:name=".activity.reservation.ReservationListActivity"
             android:screenOrientation="landscape">
         </activity>
         
         <!-- interview -->
         <activity 
             android:name=".activity.interview.InterviewerBasicActivity"
             android:screenOrientation="portrait">
         </activity>
         <activity android:name=".activity.interview.InterviewerDNAActivity" android:screenOrientation="portrait"></activity>
        
         <activity android:name=".activity.interview.InterviewActivity" android:screenOrientation="landscape"></activity>
         
         <activity android:name=".activity.UserCenterActivity" android:screenOrientation="portrait"></activity>
         
         <activity android:name=".activity.interviewee.IntervieweeActivity" android:screenOrientation="landscape"></activity>
         
         <activity android:name="com.huasheng.sysq.activity.interviewee.questionaire.IntervieweeQuestionaireActivity" android:screenOrientation="portrait"></activity>
    
         <activity android:name="com.huasheng.sysq.activity.interviewee.answers.IntervieweeAnswerActivity" android:screenOrientation="portrait"></activity>
    
    </application>

</manifest>
