/**头部**/
div.results div.header{
	background-color: #338EE7;
	padding: 5px 0 5px 5px;
	color:#FFFFFF;
	font-size:18px;
	font-weight: bold;
}

/**工具栏**/
div.results div.toolbar{
	margin-top: 20px;
}
div.results div.toolbar input{
	margin-right: 20px;
}

/**主体**/
div.results div.body{
	margin-top: 20px;
}
div.results div.body div.content{
	margin-top: 10px;
}
div.results div.body div.content div.question{
	margin-top: 10px;
	border-bottom: 1px grey solid;
	
}
div.results div.body div.content div.answers{
	margin-top:10px;
}
div.results div.body div.content div.operations{
	margin-top:10px;
	margin-bottom:10px;
	text-align:right;
}
div.results div.body div.content div.answers div.answer{
	margin-top:10px;
	padding: 0 10 0 10px;
}
div.results div.body div.content div.answers div.answer span.label{
	float:left;
}
div.results div.body div.content div.answers div.answer span.text{
	float:right;
}
