div.questionaire div.header{
	background-color: #338EE7;
	padding: 5px 0 5px 5px;
	color:#FFFFFF;
	font-weight: bold;
}

div.questionaire div.description{
	position:absolute;
	top:60px;
	bottom:50px;
	width:100%;
	overflow-y:auto;
}
div.questionaire div.description p{
	text-indent: 20px;
	margin-bottom: 10px;
	line-height: 150%;
}

div.questionaire div.footer{
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:30px;
	text-align:center;
}
div.questionaire div.footer input.btn-start{
	width:150px;
	background-color: #338EE7;
	border: none;
	margin-right: 50px;
	padding:5px 0;
	font-size:20px;
	color:#FFF;
}
div.questionaire div.footer input.btn-index{
	width:200px;
	background-color: #338EE7;
	border: none;
	padding:5px 0;
	font-size:20px;
	color:#FFF;
}

