div.questionaire div.header{
	background-color: #338EE7;
	padding: 5px 0 5px 5px;
	color:#FFFFFF;
	font-size:18px;
	font-weight: bold;
}

div.questionaire div.description{
	margin-top: 20px;
}

div.questionaire div.footer{
	margin-top:20px;
	text-align:center;
}

