div.question{
	width:100%;
	height:100%;
	position:relative;
	top:0;
	left:0;
}


/**头部**/
div.question div.header{
	background-color: #338EE7;
	padding: 5px 0 5px 5px;
	color:#FFFFFF;
	font-weight: bold;
}

/**工具栏**/
div.question div.toolbar{
	margin-top: 20px;
	text-align: right;
}
div.question div.toolbar input{
	margin-left: 50px;
}

div.question div.contents{
	width:100%;
	position:absolute;
	top:100px;
	bottom:50px;
	overflow-y:auto;
}

/**问题**/
div.question div.description{
	margin-top: 20px;
}
div.question div.description p{
	text-indent: 20px;
	margin-top: 10px;
	line-height: 150%;
}

/**答案**/
div.question div.answers{
	margin-top:20px;
	padding-left: 20px;
}
div.question div.answers div.answer{
	margin-top:20px;
}
div.question div.answers div.answer div.content{
	margin-top:20px;
}

	/**单选按钮**/
div.answer div.content span.radio-option{
	margin-right:50px;
}
div.answer div.content div.radio-option{
	margin-top:10px;
}
	/**滑动块**/
div.answer div.content div.slider-value{
	text-align:center;
}
	/**日期**/
div.answer div.content input[type='range']{
	width:95%;
}
	/**文本域**/
div.answer div.content textarea{
	width:100%;
	height:150px;
	border-radius:5px;
	padding:10px;
}
	/**下拉框**/
div.answer div.content select{
	width:200px;
}

	/**数字框**/
div.answer div.content input[type='number']{
	width:200px;
	padding:5px;
	font-size:18px;
}

/**底部**/
div.question div.footer{
	width:100%;
	height:30px;
	position:absolute;
	bottom:0;
	text-align:center;
}
div.question div.footer input.btn-previous{
	width:150px;
	background-color: #338EE7;
	border: none;
	margin-right: 50px;
	padding:5px 0;
	font-size:20px;
	color:#FFF;
}
div.question div.footer input.btn-next{
	width:150px;
	background-color: #338EE7;
	border: none;
	padding:5px 0;
	font-size:20px;
	color:#FFF;
}


