*{
	margin:0px;
	padding:0px;
}
.nodisplay{
	display:none;
}
.page-content{
	position:absolute;
	top:30px;
	bottom:30px;
	left:30px;
	right:30px;
}


/** 问卷标题 **/
.size-title{
	font-size:30px;
}

/** 问卷描述、问题描述 **/
.size-description{
	font-size:28px;
}

/** 答案label、答案text **/
.size-answer-label{
	font-size:26px;
}
.size-answer-text{
	font-size:26px;
}

/** 按钮 **/
.size-btn{
	font-size:26px;
}


/** 顶部工具栏 **/
.btn-toolbar{
	border:1px solid #338EE7;
	background-color: #FFF;
	color:#338EE7;
	padding:5px;
}

/** 底部工具栏 **/
.btn-bottom-toolbar{
	width:150px;
	background-color: #338EE7;
	border: none;
	margin-right: 50px;
	padding:5px 0;
	color:#FFF;
}

.btn-switch{
	font-size:18px;
	background-color: #338EE7;
	color:#FFF;
	padding:5px;
	border: none;
}

.btn-big{
	background-color: #338EE7;
	color:#FFF;
  	border:none;
  	font-size:22px;
 	width:250px;
 	padding:10px 0px;
}