.page-content{
	padding: 30px;
}

.header{
	background-color: #338EE7;
	padding: 5px 0 5px 5px;
	color:#FFFFFF;
	font-size:18px;
	font-weight: bold;
}

.toolbar{
	margin-top: 20px;
}

.toolbar input{
	margin-right: 20px;
}

.question{
	margin-top: 20px;
}

.answer-list{
	margin-top:20px;
}

.answer-list input.slider{
	width:100%;
}

.footer{
	margin-top:20px;
	text-align:center;
}
.footer .start-btn{
	font-size:16px;
}

.footer .next{
	margin-left: 20px;
}

.results{
	margin-top: 20px;
}
.results-content{
	margin-top: 10px;
}
.results-content table{
	width:100%;
}
.results-content table td{
	padding:5px;
}
.result-content table td.seq{
	width:10%;
}
.result-content table td.question-desc{
	width:60%;
}
.result-content table td.seq{
	width:30%;
}
